.EditImprovementDialog {
  padding: 0px 10px;
  margin: 0;
  display: flex;
}

.EditImprovementDialog p {
  margin: 5px 0;
}

.EditImprovementDialog h2 {
  text-align: center;
}

.EditImprovementDialog .edit-improvements {
  display: flex;
  margin-right: 15px;
}

.EditImprovementDialog .edit-improvements p {
  font-size: 20px;
}

.EditImprovementDialog .edit-label {
  font-weight: bold;
  margin-right: 70px;
  width: 20px;
}

.EditImprovementDialog .edit-cost {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
}

.EditImprovementDialog .edit-button-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
}

.EditImprovementDialog .edit-button {
  width: 90px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  margin-top: 12px;
}

.EditImprovementDialog .edit-button:hover {
  background-color: darkgreen;
  transform: scale(1.05);
  transition: 0.5s;
}

.EditImprovementDialog .edit-box {
  margin-right: 5px;
}

@media only screen and (min-width: 1100px) {
  .EditImprovementDialog {
    flex-direction: column;
  }

  .EditImprovementDialog .edit-button-container {
    flex-direction: row;
    margin: 100px 10px;
    justify-content: center;
  }

  .EditImprovementDialog .edit-improvements {
    margin-top: 10px;
  }

  .EditImprovementDialog .edit-button {
    margin: 10px;
  }

  .EditImprovementDialog .edit-box {
    margin-right: 10px;
  }
}
