.Tile .tile-container {
  width: 100%;
}

.Tile .icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.Tile.selected {
  border: 2px solid white;
  transition: 0.2s;
}
