.App .title {
  text-align: center;
}

.App .resourceView {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .improvement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App .mapContainer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  /* box-sizing: border-box; */
}
.App .add {
  width: 502px;
  border: 1px solid black;
  height: 250px;
  background-color: burlywood;
  box-sizing: border-box;
}

.App .edit {
  width: 502px;
  border: 1px solid black;
  height: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: burlywood;
  box-sizing: border-box;
}

.App .zombie {
  height: 300px;
  width: 200px;
  z-index: -1;
  position: absolute;
  right: 100px;
  top: 50px;
}

@media only screen and (min-width: 1100px) {
  .App .improvement {
    flex-direction: row;
  }
  .App .edit {
    width: 300px;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .App .add {
    width: 300px;
    height: 500px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
}
